* {
    box-sizing: border-box;
}

body {
    background-color: #00c1b5;
}

img {
    width: 420px;
}

.image {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%
}


h1 {
    color: rgb(22, 19, 19);
}

#mail {
    float: right;
}

.header {
    display: flex;
    justify-content: space-between;
}