* {
    box-sizing: border-box;
}

body {
    background-color: #00c1b5;
}

img {
    width: 420px;
}

.image {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%
}


h1 {
    color: rgb(22, 19, 19);
}

#mail {
    float: right;
}

.header {
    display: flex;
    justify-content: space-between;
}

p {
    float: left;
    font-weight: 400;
    text-align: left;

}



.issue {
    text-align: center;
    font-weight: bolder;
    display: grid;
    gap: 20px;
    justify-content: space-between;
    width: 30%;
    padding-left: 160px;


}

#footerlink {
    color: black;
    justify-content: space-evenly;
    gap: 10px;
}

#blink {
    color: white;
}

.row {
    display: flex;
    justify-content: space-between;
}

.issues {
    display: flex;
    width: 32%;
    flex-direction: column;
    padding: 100px;
    text-align: right;

}

.text {
    width: 30%;
    font-weight: bolder;
    font-size: large;
}

ul {
    list-style: none;
    justify-content: space-around;
    gap: 12px;
    font-weight: bold;
}